 
 body{
     background:seagreen;
     
 }
 
/*----------------------------------Navbar---------*/
.nav-link{
    border-radius: 0%;
    padding: 50px 50px;
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
}
.nav-link:hover{
    border-radius: 0%;
    background: rgb(17, 204, 148);
    color: #fafafa;
}

.bg-color-navbar {
   background: seagreen;
  box-shadow: 2px 2px white;
}

.nav-text-color {
  color: #074633;
}

.navbar-toggler {
  color: #000;
}

.navbar-nav .nav-link {
  margin-left: 20px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand:hover {
  color: #fafafa;
} 

.aboutus-img img{
    margin-top: 20%;
    padding: 0px 20px;
    height: 25%;
    width: 20%;
}


.list-inline-item{
    color: red;
    background-color: red;
    position: inherit;
    height: 50px;
    width: 50px;
}

footer{
    background-color: rgb(54, 167, 105);
}